@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

html {
  font-family: Rajdhani, Sans-serif;
  color: whitesmoke;
}

body{        
  padding-top: 130px;
  padding-bottom: 40px;
  background-color: #0c2237;
}


Header {
  position: fixed;
}

h3 {
  color: #884866;
}

h2 {
  color: #A26B69;
}

p {
  color: #F8BB9B;
}

