

.display-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  /* align-items: auto; */
  width: 90%;
  margin: 0 auto;
}

.Display {
  width: 45%;
  height: 45%;
  /* align-items: center; */
  margin: 25px; 
  background-color: #091a2b;
  border-radius: 15px
}

.Attributes {
  font-weight: 600
}

