.footer{
  margin-top: 1rem;
  padding: .5rem;
  background-color:  #0E263E;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;

}

p{
  padding-right: 30px;
}