@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

.Header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 0 auto;
  margin-bottom: 0px;
  background-color: white;
  /* padding-left: 5px; */
  /* padding-top: 5px; */
  /* padding-bottom: 1px; */
  height: 130px;
  position: fixed;
  top: 0;
  border-bottom: 2px solid black;
} 

/* #big {
  font: italic bold 140px Rajdhani, Sans-serif;
  text-shadow: -2px 0 black, 0 2px black, 3px 0 black, 0 -2px black;
  color: white; */
  /* position: absolute; */
  /* z-index: 1; */
  /* top: 0;
  left: 0; */
  /* top: 100; */
  /* left: 110; */

.small {
  /* background-color: white; */
  color: white;
  font: italic bold 100px Rajdhani, Sans-serif;
  text-shadow: -4px 3px 0 black, 29px -18px 0 black, 2px 2px 4px #000000;
  text-align: left;
  margin-block-start: 0px;
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
  /* position: absolute;
  z-index: 2;
  bottom: 15; */
  /* top: 55; */
  /* left: 0; */

#navbar {
  text-align: right;
  font: 30px Rajdhani, Sans-serif;
  padding-top: 25px;
  padding-right: 40px;
}

.links {
  color: rgb(0, 0, 0);
  padding: 12px;
}

#burger-menu {
  
}

#page-wrap {
  text-align: center;

  /* Prevent sidebar from showing a scrollbar on page */
  overflow: auto;
}

.button{
  
}


@media (max-width:840px) {
  #navbar {
    display: none;
  }

  /* #burger-menu {
    width: 40px;
    height: 40px;
    margin: 30px;
    background-color: salmon;
  } */

  .bm-item {
    display: inline-block;
  
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: #d1d1d1;
    transition: color 0.2s;
  }
  
  /* Change color on hover */
  .bm-item:hover {
    color: white;
  }
  
  /* The rest copied directly from react-burger-menu docs */
  
  /* Position and sizing of burger button */
  .bm-burger-button {
    position: relative;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
  }
  
  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: #373a47;
  }
  
  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }
  
  /* Color/shape of close button cross */
  .bm-cross {
    background: #bdc3c7;
  }
  
  /* General sidebar styles */
  .bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }
  
  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }
  
  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }
  
  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }
  
}

